body {
    background-color: black;
    margin: 0;
    padding: 0;
    color: rgb(0, 255, 0);
}

nav {
    background-color: rgb(39, 36, 36);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6%;
    position: fixed;
    justify-content: space-between;
    top: 0;
    z-index: 20;
    color: rgb(0, 255, 0);
    font-family: Atarifont;
    box-shadow: 10px 5px 5px rgb(26, 25, 25);
}

#navd {
    display: flex;
    flex-direction: row;
    margin-right: 4%;
}

#navd p {
    margin: 16px 16px 0px 10px;
    padding: 0%;
    cursor: pointer;
}

#title {
    margin-left: 2%;
}

#home-page {
    font-family: Atarifont;
}

h1 {
    margin-left: 5%;
    margin-top: 8%;
    font-size: 58px;
}

#principal_box {
    background-color: black;
    width: 50%;
    height: 50%;
    position: static;
    margin-left: auto;
    margin-right: 8%;
    border-radius: 5px;
    border: 10px solid rgb(36, 32, 32);
    box-shadow: 10px 5px 5px rgb(26, 25, 25);
}

#cabecalho_box {
    background-color: rgb(36, 32, 32);
    width: 100%;
    height: auto;
}

#cabecalho_box p {
    width: 25%;
    height: auto;
    margin: 0;
    text-align: center;
    background-color: black;
}

#box1 {
    background-color: black;
    text-align: center;
    position: static;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: 8%;
    margin-top: 0;
}

#box1 p {
    width: auto;
    padding: 5% 0% 30% 0%;
    margin: 0% 5%;
}

#box1 h2 {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0% 5%;
}

#box2 img {
    position: absolute;
    width: auto;
    height: 40%;
    margin: 2% 10%;
    border-radius: 50%;
    scale: 1;
    z-index: 1;
    box-shadow: 10px 10px 15px 10px rgb(26, 25, 25);
}

#box3 {
    display: flex;
    align-items: stretch;
    width: 100%;
    margin-top: 4%;
    height: 20%;
    background-color: rgb(36, 32, 32);
    justify-content: center;
    position: static;
}

#box3 h2 {
    font-size: 200%;
    text-align: center;
    position: absolute;
}

#box3 img {
    width: 6%;
    margin: 6% 2%;
}

#projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: Atarifont;
}

#projects h1 {
    font-size: 300%;
    margin: 0;
    text-align: center;
}

#projects p {
    text-align: center;
    font-size: 120%;
}

#projects h3 {
    font-size: 200%;
    font-family: Atarifont;
}

#pr1 {
    background-color: rgb(36, 32, 32);
    width: 30%;
    height: auto;
    border: 1px;
    border-radius: 15px;
}

#pr1 img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

#pr2 {
    background-color: rgb(36, 32, 32);
    width: 20%;
    height: 20%;
}

#pr3 {
    background-color: rgb(36, 32, 32);
    width: 20%;
    height: 20%;
}

#pr4 {
    background-color: rgb(36, 32, 32);
    width: 20%;
    height: 20%;
}

@font-face {
    font-family: Atarifont;
    src: url(./fonts/AtariST8x16SystemFont.ttf);
}